$md1: 1199.98px;
$md2: 990.98px;
$md3: 768.98px;
$md4: 479.98px;
$maxWidth:1200;

$black: #000;
$white: #fff;
$primary: #920a00;
$hover: #5c0000;
$grey:#c0c0c0;
$header-bg:#66666698;
$transition: all 500ms ease;
$shadow:0 0px 45px -16px rgb(169, 169, 169);

