.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $header-bg;
  backdrop-filter: blur(4px);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all .2s ease;
    padding: 10px 0;
  }
  .logo {
    img {
      height: 100%;
      object-fit: contain;
      @media (max-width: $md4) {
        width: 90px;
      }
    }
  }
  .header-actions {
    display: flex;
    align-items: center;
    column-gap: 40px;
    .btn {
      z-index: 50;
    }
    a {
      white-space: nowrap;
      color: $black;
      transition: all .2s ease;
      z-index: 50;
      &:hover {
        color: $primary;
      }
    }
    &.mobile {
      display: none;
    }
    @media (max-width: $md2) {
      display: none;
      &.mobile {
        height: 100%;
        display: flex;
        row-gap: 50px;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  .btn {
    &.mobile {
      display: none;
      @media (max-width: $md2) {
        display: block;
      }
    }
  }
}

.nav-links{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 44px;
  li a {
    font-style: normal;
    line-height: 17px;
    color: $black;
    font-size: 16px;
    &:hover {
      color: $primary;
    }
  }
}

.hamburger{
  display: none;
  div {
    width: 40px;
    height: 2px;
    background: $primary;
    margin: 8px;
    transition: all 0.3s ease-in-out;
  }
}



@media (max-width: $md1){
  .header__menu {
    column-gap: 30px;
    .logo {
      flex: 1 1 auto;
      max-width: 100%;
    }
  }
  .hamburger{
    display: block;
    cursor: pointer;
    z-index: 2;
    transition: all 0.7s ease;
    &.toggle {
      div {
        background: $primary !important;
      }
      .line1{
        transform: rotate(-45deg) translate(0, 7px);
      }
      .line3{
        transform: rotate(45deg) translate(0, -7px);
      }
    }
  }

  .nav-links{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: unset;
    align-items: center;
    overflow-y: scroll;
    padding-top: 120px;
    padding-bottom: 50px;

    &.open{
      clip-path: circle(2000px at 90% -10%);
      pointer-events: all;
    }
    li {
      line-height: 50px;
      opacity: 0;
      &:not(:last-child) {
        margin-bottom: 65px !important;
      }
      a {
        text-transform: uppercase;
        font-size: 28px;
      }
      &:nth-child(1){
        transition: all 0.5s ease 0.2s;
      }
      &:nth-child(2){
        transition: all 0.5s ease 0.4s;
      }
      &:nth-child(3){
        transition: all 0.5s ease 0.6s;
      }
      &:nth-child(4){
        transition: all 0.5s ease 0.7s;
      }
      &:nth-child(5){
        transition: all 0.5s ease 0.8s;
      }
      &:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
      }
      &:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
      }
      &.fade{
        opacity: 1;
      }
    }
  }
}
@media (max-width: $md2) {
  .nav-links {
    li {
      &:not(:last-child) {
        margin-bottom: 20px !important;
      }
      a {
        font-size: 16px;
      }
    }
  }


}
@media (max-width: $md3) {
  .header .header-actions a {
    font-size: 18px;
  }
  .nav-links {
    padding-top: 100px;
  }
  .header__menu {
    gap: 15px;
  }
  .header nav {
    padding: 20px 0;
  }
}
