@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "general/variables";
@import "general/null";
@import "general/mixins";
@import "general/fonts";
@import "general/buttons";
@import "general/title";
@import "general/animate";
@import "block/header";
@import "block/footer";
@import "block/hero";
@import "block/features";


a {
  transition: all .2s ease;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 110%;
  position: relative;
  font-size: 14px;
  color: $black;
  line-height: 130%;
  letter-spacing: 1%;
  font-weight: 300;
  &.lock {
    overflow: hidden;
  }
}


section {
  padding: 80px 0;
  &:first-child {
    padding-top: 0;
  }
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1199.98px){
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px){
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 768.98px){
  [class*="__container"] {
    max-width: none;
  }
}



